<a href="https://colab.research.google.com/github/dylanJzch/Predict-Credit-Card-Default/blob/main/Zhichen's_Copy_of_bdml_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from keras.models import Sequential
from keras.layers import Dense

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
data = pd.read_excel("/content/drive/MyDrive/BDML/default_of_credit_card_clients.xls")

## drop the second row, becuase mixed data type, （String和int在一起了，我没想出别的办法）
data = data.iloc[1:]
data.reset_index(drop=True, inplace=True) ## reset index

Mounted at /content/drive

In [ ]:
print(data.head())

  Unnamed: 0      X1 X2 X3 X4  X5  X6 X7  X8  X9  ...    X15    X16    X17  \
0          1   20000  2  2  1  24   2  2  -1  -1  ...      0      0      0
1          2  120000  2  2  2  26  -1  2   0   0  ...   3272   3455   3261
2          3   90000  2  2  2  34   0  0   0   0  ...  14331  14948  15549
3          4   50000  2  2  1  37   0  0   0   0  ...  28314  28959  29547
4          5   50000  1  2  1  57  -1  0  -1   0  ...  20940  19146  19131

    X18    X19    X20   X21   X22   X23  Y
0     0    689      0     0     0     0  1
1     0   1000   1000  1000     0  2000  1
2  1518   1500   1000  1000  1000  5000  0
3  2000   2019   1200  1100  1069  1000  0
4  2000  36681  10000  9000   689   679  0

[5 rows x 25 columns]

In [ ]:
## PARTITION by age
## Female older than 30
female_over_30 = data[(data['X2'] == 2) & (data['X5'] > 30)]

## Male older than 30
male_over_30 = data[(data['X2'] == 1) & (data['X5'] > 30)]

##